* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: rgb(208, 255, 239);
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.genius {
  display: grid;
  grid-template-areas: 'green red' 'yellow blue';
  grid-gap: 0.5rem;
  border: 0.1rem solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;
  width: 500px;
  height: 500px;
}

.blue {
  background: blue;
  border-radius: 100% 0 25% 0;
}
.yellow {
  background: yellow;
  border-radius: 0 100% 0 25%;
}

.red {
  background: red;
  border-radius: 0 25% 0 100%;
}

.green {
  background: green;
  border-radius: 25% 0 100% 0;
}